.frame {
  width: 80%;
  overflow: hidden;
  
}

.parent {
  display: flex;
}

.child {
  padding-right:5%;
}

@media (max-width: 639px) {
  .parent {
    flex-direction: column
  }
}

h3{
  color:grey;
  font-weight: bold;
}